%h2
  Hello,
  = @iphone_greeting
  friend.
  
%p I love all sorts of things
%p I wish I had more time to appreciate all of them
%p I live in New York City
%p
  I currently work as a
  %span.note
    Level 4 Frontend Wizard
    %span.more{:title=>"but my boss calls me a &#8216;systems developer&#8217;"} ( ? )
  for
  %a{:href=>"http://flatworldknowledge.com"} Flat World Knowledge
%p
  I used to be head fiction editor (
  %span.amp &
  web developer ) for the
  %a{:href=>"http://longriverreview.com"} Long River Review
%p
  I worked as a bioinformaticist for several years doing mtDNA research at the
  %a{:href=>"http://flora.mcb.uconn.edu/"} Nelson Lab
%p
  I hosted an avant&#8211garde radio show for two years on 
  %a{:href=>"http://whus.org"} WHUS
%p
  I occasionally produce content for
  %a{:href=>"http://theretrospective.com"} The Retrospective
%p
  I used to play bass in several bands, including a Bad Company cover band called
  %strong Dirty Power
%p
  I have a degree in English Literature
  %span.amp &
  three&#8211;quarters of a Philosophy degree
%p I get sick on busses
%p I do not eat meat
%p I don't sleep as much as I should
%p I have a love/hate relationship with symmetry
%p
  I dream of the day when
  %span.note
    IE
    %span.more{:title=>"Internet Explorer; see also: A non-modern browser; The bane of my existence."} ( ? )
  supports modern standards
%p I also dream of the day when fonts on Windows look good
%p
  I have five tattoos (
  %span.amp &
  counting )
%p
  I think
  %a{:href=>"http://haml-lang.com/"} Haml
  ,
  %a{:href=>"http://sass-lang.com/"} Sass
  and
  %a{:href=>"http://sinatrarb.com/"} Sinatra
  are completely awesome
%p
  I am exactly
  one&#8211;half
  %span.note
    panamanian
    %span.more{:title=>'you know, like the canal.'} ( ? )
  , one&#8211;half irish
%p I originally ended all these statements with periods, but then I took them all out
%p I don't know why

%script{:type=>'text/javascript', :src=>'javascript/jquery.mininote.js'}
:javascript
  $(document).ready(function(){
    $('span.note .more').mininote();
  });
    