!!! 5
%html
  %head
    %title Brian Loves Things
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:description => 'Personal site of Brian J. Brennan (the american programmer. not the football player, or veteran, or canadian author, or latin american porn star).'}
    %meta{:keywords => 'brian brennan,brian j brennan,brianloveswords,brianlovesdata,brianloveschips'}
    %link{:rel => 'stylesheet', :href => '/css/main.css'}
    
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.4.2.min.js'}
    %script{:type => 'text/javascript', :src => 'javascript/jquery.rotatetitle.js'}
    %script{:type => 'text/javascript', :src => 'javascript/common.js'}
  
  %body
    #header
      %h1#title
        Brian Loves
        %span.thing{:title => 'Things, Chips, Words, Data, Music, Cooking, Bikes'} Things
  
    = yield