!!! 5
%html
  %head
    %title Brian Loves Things
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:description => 'Personal site of Brian J. Brennan (the american programmer. not the football player, or veteran, or canadian author, or latin american porn star).'}
    %meta{:keywords => 'brian brennan,brian j brennan,brianloveswords,brianlovesdata,brianloveschips'}
    %meta{:name => 'viewport', :content => '320'}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'fonts/chunkfive.css'}
    %link{:type => 'text/css',:rel => 'stylesheet', :href => 'main.css'}
    %link{:type => 'text/css',
          :rel => 'stylesheet',
          :media => 'only screen and (max-device-width: 480px)',
          :href => 'iphone.css'}
    
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.4.2.min.js'}
    %script{:type => 'text/javascript', :src => 'javascript/jquery.rotatetitle.js'}
    %script{:type => 'text/javascript', :src => 'javascript/common.js'}
    
    - if @rotatetitle
      :javascript
        //activate rotating title
        $(document).ready(function(){$('.thing').rotateTitle();})
    
  %body
    #header
      %h1#title
        Brian Loves
        %span.thing{:title => @things.join(', ') }
          = @things.shuffle.first
    #body
      = yield


    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-16144846-1");
        pageTracker._setDomainName(".brianlovesthings.com");
        pageTracker._trackPageview();
      } catch(err) {}
