@font-face
  font-family: "C5"
  src: url('fonts/chunkfive.ttf')
  
=box-shadow(!hoz, !voz, !blur, !color)
  -webkit-box-shadow = !hoz !voz !blur !color
  -moz-box-shadow = !hoz !voz !blur !color
  -box-shadow = !hoz !voz !blur !color

body
  :font-family "Baskerville"
  :padding 0
  :margin 0

h1,h2,h3,h4,h5,h6
  :font-family "C5"

a
  :border-bottom 1px solid #bab
  :color black
  :text-decoration none
  :text-shadow 1px 1px 1px #fff
  :font-weight bold

.amp
  :font-style italic

#header
  :height 90px
  :border-bottom 1px solid #eee
  :padding 16px 0 0 16px
  :position fixed
  :top 0px
  :left 0px
  :width 100%
  :z-index 100
  :background white
  +box-shadow(0px, 10px, 40px, #eee)
  
  h1
    :line-height 1em
    :margin 0 0 0 0
    :font-size 5em
    :text-transform lowercase
    :text-shadow 1px 1px 3px #a30
    :color #f80
    :position absolute

  .thing
    :position absolute
    :top 0px
    :left 5.8em
  
#body
  :padding 120px 30px 10px 30px
  :font-size 1.3em
    
  .note
    :color black
    .more
      :font-style normal
      :font-weight bold
      :color #ddd
      :cursor help
      :font-size 0.6em
      :position relative
      :top -0.25em